version: '3.9'

services:
  postgres:
    image: postgres:15
    restart: always
    container_name: app_condon_postgres
    environment:
      POSTGRES_DB: app_condon
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  mongo:
    image: mongo:6
    restart: always
    container_name: app_condon_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  postgres_data:
  mongo_data:
